:root {
     --navcolor: #051236;
     --editbar: #11192d;
     --font-color: #92959b;
     --font: 'Fira Code', 'Consolas', 'Courier New', monospace;
     --accent-color: #122b72;
     --font-color-main: #bfbfbf;
     --markorange: orange;
     --markblue: rgb(100, 100, 211);
     --markgreen: rgb(71, 183, 71);
}

/* Page display  */

body {
     margin: 0px;
     padding: 0px;
     display: flex;
     flex-direction: column;
     overflow: hidden;
     font-family: var(--font);
     height: 100vh;
}

.editbar {
     display: flex;
     flex-direction: row;
     align-items: center;
     
     width: 100%;
     height: 6%;
     color: var(--font-color);
     background-color: var(--editbar);
     user-select: none;
     
}
.editbar p {
     padding: 10px;

}
.editbar img {
     padding: 10px;
     width: 2%;
     height: auto;
     margin-right: 1%;
}
.pagename {
     margin-left: 15%;
}



main {
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 100vh;
}


/* * Navbar  */
nav {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     gap: 10px;
     
     width: 5%;
     
     background-color: var(--navcolor);
     padding-top: 20px;
     border-top: 1px black solid;
}
nav img {
     width: 50%;
     height: auto;
     filter: brightness(1) saturate(100%) opacity(0.5);
     user-select: none;
}
.accicon {
     margin-top: auto;
}




/* * Explorer */
.explorer {
     background-color: var(--navcolor);
     color: white;
     width: 19%;
     border-right: 1px black solid;
     border-top: 1px black solid;
     user-select: none;
}
.troispoints {
     padding: 1px;
}
.startofex {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}
.endofex .menuexp {
     padding-top: 5px;
     padding-bottom: 5px;
     margin: 0px;
     
     font-weight: bold;
     font-family: var(--font);
     border-top: black 1px solid;
}


/* * Projects style */
.filecontainer * {
     margin: 0px 0px 0px 15px;
}
.projectarb {
     display: flex;
     flex-direction: row;
     align-items: center;
     margin-top: 5px;
     margin-bottom: 5px;
     margin-left: 30px;
}
.projectarb img {
     height: 20px;
     margin-right: 10px;
     width: auto;
}


/* * Main Container  */
.maincontainer {
     background-color: var(--navcolor);
     flex: 1;
     display: flex;
     flex-direction: column;
     min-height: 0;
}
/** Tabs */
.tabcontainer {
     background-color: var(--navcolor);
     padding: 1px;
     margin: 0px;
     color: var(--font-color);
     font-family: var(--font);
     border: 1px solid black;
     display: flex;
     flex-direction: row;
}
.tab {
     margin: 0px;
     border-right: 1px black solid;
     border-bottom: var(--accent-color) 1px solid;
     width: 15%;

     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     user-select: none;
}
.tab button {
     background-color: transparent;
     border: none;
     flex: 1;
     color: var(--font-color);
}
.tab img {
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}



/* * Active Page  */
.activepage {
     flex: 1;
     min-height: 0;
     overflow-y: auto;
     color: white;
     margin-left: 10%;
     font-family: var(--font);
}

::-webkit-scrollbar {
     width: 10px;
}
::-webkit-scrollbar-track {
     background: transparent;
}

::-webkit-scrollbar-thumb {
     background: var(--accent-color);
     border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
     background: blue;
}

/** README Style  */
.readme p {
     max-width: 70%;
}
.titlecontainer, .jobcontainer {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 10px;
     margin: 0px;
}
.titlecontainer p{
     font-size: 3rem;
}
.titlecontainer picture {
     margin: 0px;
}
.jobcontainer p, .jobcontainer div{
     margin: 0px;
     margin-top: -50px;
}
.buttonscontainer {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 20px;
}
.contactmereadme {
     color: black;
     padding: 10px;
     background-color: white;
     border: none;
     border-radius: 10px;
}
.buttonscontainer img {
     height: 30px;
     width: auto;
}
.down-arrow {
     width: 100px;
     height: auto;
     display: block;
     margin: 20% 0% 5% 40%;
     filter: invert(1) opacity(0.5);
     animation: bounce 2s infinite;
}


/** About me */
.aboutmereadme {
     display: flex;
     flex-direction: row;
     gap: 50px;
     flex-wrap: wrap;
     margin-bottom: 200px;
}
.iconuser {
     margin-top: 30px;
     margin-right: 20px;
     width: 50px;
     height: auto;
}
.aboutmeoui {
     font-size: 3rem;
}
.descaboutme {
     font-size: 2rem;
}
.profilepicture {
     box-shadow: 1px 1px 6px rgb(0,0,0,0.1);
     height: 200px;
     border-radius: 40px;
     width: auto;
     animation: float 5s infinite;
}
.textaboutme {
     max-width: 50%;
}

.textaboutme p {
     margin: 2px;
}

.textaboutme .moretextaboutme {
     margin-top: 20px;
     opacity: 0.7;
}

.titlemoreinfos {
     color: rgb(71, 183, 71);
     border-left: 3px solid rgb(71, 183, 71);
     margin: 10px 0px 0px 0px;
     padding-left: 10px;
}

.epistudioaboutme {
     background-color: rgb(4, 17, 51);
     border: rgba(128, 128, 128, 0.315) 1px solid;
     display: flex;
     flex-direction: row;
     align-items: center;
     margin: 20px;
     gap: 20px;
     border-radius: 15px;
}
.epistudioaboutme img {
     height: 150px;
     width: auto;
     margin-left: 10%;
     border-radius: 30px;
}


.hrcontainer {
     display: flex;
     flex-direction: row;
     gap: 10px;
     align-items: center;
     margin-top: 15px;
     margin-left: 0px;
}
.onehr {
     margin: 0;
     width: 3%;
     height: 2px;
     border: none;
     background-color: var(--font-color-main);
}
.twohr {
     margin: 0;
     width: 80%;
     height: 2px;
     border: none;
     background-color: var(--accent-color);
}
.worktitle {
     display: flex;
     flex-direction: row;
     align-items: center;
}

.worktitle2 {
     font-size: 3rem;
     margin-top: 20px;
     color: orange;
}


/** Work Experience  */
.introwork {
     font-size: 30px;
}
.workexpcontainer {
     border-left: 1px var(--markorange) solid;
     padding-left: 15px;
     width: 80%;
     margin-bottom: 200px;
}
.itemwork {
     margin-left: 20px;
}
.workexpcontainer hr {
     border: 1px solid rgba(255, 166, 0, 0.334);
}
.titlework {
     color: var(--markorange);
     font-weight: bold;
}

/* * Skills sections  */

.ulcontainer img {
     width: 150px;
     height: auto;
}
.titleskills {
     display: flex;
     flex-direction: row;
     align-items: center;
     margin-left: -20px;
}
.titleskills p {
     font-size: 3rem;
     margin: 0;
}
.bookskills {
     margin: 0px;
     height: 100px;
     width: auto;
}

.listcontainer {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     gap: 40px;
     width: 80%;
}
.skillname {
      margin: 0;
      padding: 10px;
      cursor: pointer;
}


/** Flex board for the skills  */
.ullanguages {
     margin-top: 20px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-around;
     width: 80%;
     gap: 40px;
}
.licontainer {
     width: fit-content;
     display: flex;
     flex-direction: column;
     background-color: rgba(128, 128, 128, 0.096);
     padding: 20px;
     align-items: center;
     border-radius: 15px;
}
.licontainer p {
     text-align: center;

}
.licontainer.csharp{
     margin-right: auto;
     margin-left: 20px;
}

.ulapps {
     margin-top: 20px;
     display: none; /*TODO à remplacer lors du click*/
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-around;
     width: 80%;
     gap: 40px;
}
.ulsoftskills {
          margin-top: 20px;
          display: none; /*TODO à remplacer lors du click*/
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-around;
          width: 80%;
          gap: 40px;
}

.skillsreadme {
     margin-bottom: 200px;
}

/** My Works  */
.myworks {
     margin-bottom: 200px;
}
.myworks p {
     font-size: 3rem;
     color: var(--markorange);
}



/* * Contact section  */

.contactmesection {
     padding-bottom: 100px;
}
.contactmesection p {
     font-size: 3rem;
}
.formcontainer {
     display: flex;
     flex-direction: column;
     gap: 10px;
     align-items: flex-start;
     margin-bottom: 30px;
}
.formcontainer input {
     box-shadow: 1px 1px 6px rgb(0,0,0,0.1);
     width: 80%;
     height: 3rem;
     border: var(--accent-color) 3px solid;
     border-radius: 10px;
     background-color: transparent;
}
.formcontainer input:focus {
     outline: none;
     border: white 3px solid;
}
.formcontainer input::placeholder {
     color: white;
     padding: 15px;
}


.sendcontact {
     padding: 10px 30px 10px 30px;
     border: var(--accent-color) 3px solid;
     background-color: var(--accent-color);
     border-radius: 10px;
     color: white;

}
/* *Markdown colors  */
.markorange {
     color: var(--markorange);
     scale: 1.1;
}
.markblue {
     color: var(--markblue);
}
.markgreen {
     color: var(--markgreen);
}
.bold {
     font-weight: bold;
}
.opacity {
     opacity: 0.7;
}