:root {
     --navcolor: #051236;
     --editbar: #11192d;
     --font-color: #92959b;
     --font: 'Fira Code', 'Consolas', 'Courier New', monospace;
     --accent-color: #122b72;
     --font-color-main: #bfbfbf;
     --markorange: orange;
     --markblue: rgb(100, 100, 211);
     --markgreen: rgb(71, 183, 71);
}

/* Page display  */

body {
     margin: 0px;
     padding: 0px;
     display: flex;
     flex-direction: column;
     overflow: hidden;
     font-family: var(--font);
     height: 100vh;
}

.editbar {
     display: flex;
     flex-direction: row;
     align-items: center;
     
     width: 100%;
     height: 6%;
     color: var(--font-color);
     background-color: var(--editbar);
     user-select: none;
     
}
.editbar p {
     padding: 10px;

}
.editbar img {
     padding: 10px;
     width: 2%;
     height: auto;
     margin-right: 1%;
}
.pagename {
     margin-left: 15%;
}

.markgray {
     background-color: #161d2e;
     padding: 5px;
     border-radius: 5px;
     border: 1px solid black;
     color: rgb(104, 104, 104);
}



main {
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 100vh;
}


/* * Navbar  */
nav {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     gap: 10px;
     
     width: 5%;
     max-height: 100vh;
     
     background-color: var(--navcolor);
     padding-top: 20px;
     border-top: 1px black solid;
}
nav img {
     width: 50%;
     height: auto;
     filter: brightness(1) saturate(100%) opacity(0.5);
     user-select: none;
}
.accicon {
     margin-top: auto;
}
.seticon {
     padding-bottom: 50px;
}





/* * Explorer */
.explorer {
     background-color: var(--navcolor);
     width: 19%;
     border-right: 1px black solid;
     border-top: 1px black solid;
     user-select: none;
     color: rgb(231, 230, 230);
}
.troispoints {
     padding: 1px;
}
.startofex {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}
.endofex .menuexp {
     padding-top: 5px;
     padding-bottom: 5px;
     margin: 0px;
     
     font-weight: bold;
     font-family: var(--font);
     border-top: black 1px solid;
}


/* * Projects style */
.filecontainer * {
     margin: 0px 0px 0px 15px;
     color: rgb(213, 213, 213);
}
.projectarb {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     gap: 5px;
     margin-top: 5px;
     margin-bottom: 5px;

}
.projectarb img {
     height: 20px;
     width: auto;
}
.projectarb div {
     display: flex;
     flex-direction: row;
}
.projectarb p {
     margin-left: 5px;
}

.menufile {
     font-weight: 400;
}
.gitignored {
     margin: 0px;
     opacity: 0.2;
}
.arbgray {
     margin: 0px;
}

/* * Main Container  */
.maincontainer {
     background-color: var(--navcolor);
     flex: 1;
     display: flex;
     flex-direction: column;
     min-height: 0;
}
/** Tabs */
.tabcontainer {
     background-color: var(--navcolor);
     padding: 1px;
     margin: 0px;
     color: var(--font-color);
     font-family: var(--font);
     border: 1px solid black;
     display: flex;
     flex-direction: row;
}
.tab {
     margin: 0px;
     border-right: 1px black solid;
     border-bottom: var(--accent-color) 1px solid;
     width: 15%;

     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     user-select: none;
}
.tab button {
     background-color: transparent;
     border: none;
     flex: 1;
     color: var(--font-color);
}
.tab img {
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}



/* * Active Page  */
.activepage {
     flex: 1;
     min-height: 0;
     overflow-y: auto;
     overflow-x: hidden;
     color: white;
     margin-left: 0px;
     font-family: var(--font);
     padding-bottom: 100px;
}

::-webkit-scrollbar {
     width: 10px;
}
::-webkit-scrollbar-track {
     background: transparent;
}

::-webkit-scrollbar-thumb {
     background: var(--accent-color);
     border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
     background: blue;
}

.hrcontainer {
     display: flex;
     flex-direction: row;
     gap: 10px;
     align-items: center;
     width: 100%;
     margin-top: 15px;
     margin-left: 0px;
}

.onehr {
     margin: 0;
     width: 3%;
     height: 2px;
     border: none;
     background-color: var(--font-color-main);
}

.twohr {
     margin: 0;
     width: 80%;
     height: 2px;
     border: none;
     background-color: var(--accent-color);
}

.cvmainpage {
     width: 50%;
     height: auto;
     display: block;
     margin: 1% auto;
}
.petitepicture {
     width: 1%;
     height: auto;
}
.textcv {
     opacity: 0.4;
     margin-left: 1%;
}

.respwarning {
     display: none;
     text-align: center;
     color: white;
}