<div class="gaelone">
  <div class="introproject">
    <p class="projecttype">Case Study</p>
    <p class="projectname">Gaël One</p>
    <p class="projectdesc">
      A home-hosted alternative to Google One's storage.
    </p>
  </div>
  <div class="projectsborders">
    <div class="case">
      <p class="casetitle">Industry</p>
      <p class="caseanswer">SAAS</p>
    </div>
    <div class="case">
      <p class="casetitle">Year</p>
      <p class="caseanswer">2025</p>
    </div>
    <div class="case">
      <p class="casetitle">Service</p>
      <p class="caseanswer">Home solution</p>
    </div>
  </div>
  <!-- <div class="banner-gradient"> -->
  <!-- <img src="img/projects/flyingtodo.png" /> -->
  <!-- </div> -->
  <div class="hrcontainerprojects scrollanim">
    <hr class="onehrprojects" />
    <hr class="twohrprojects" />
  </div>
  <div class="projectsabout scrollanim">
    <p class="singletitle">About</p>
    <p class="singletext">
      This project was made following the raising doubt about the big
      corporations as Google, Microsoft, etc.
      <span class="linebreak"></span>Its goal is to replicate the
      <span class="markblue">easy-to-navigate interface</span> so that everyone
      can upload files and understand how to download files.
      <span class="linebreak"></span>It features a
      <span class="markblue">login</span> with a .env file,
      <span class="markblue">API Requests</span> and a
      <span class="markblue">node.JS backend</span>.
    </p>
  </div>
  <div class="hrcontainerprojects scrollanim">
    <hr class="onehrprojects" />
    <hr class="twohrprojects" />
  </div>
  <div class="projectschallenge scrollanim">
    <p class="singletitle">Challenges</p>
    <p class="singletext">
      The main challenge was to setup the
      <span class="markblue">backend</span>. I had never worked with apis, .env
      files or auth system.<span class="linebreak"></span>
      The security on this project is something to still take into account as I
      want it to be accesible online so that we can upload files from
      <span class="markblue">anywhere in the world</span>.<span
        class="linebreak"
      ></span>
      I also had to learn about linux with
      <span class="markblue">Linux Ubuntu Server</span>, the fact that it has no
      UI, only a terminal, is really disturbing and I had to search some
      commands to modify files, display files, etc.
    </p>
  </div>
  <div class="hrcontainerprojects scrollanim">
    <hr class="onehrprojects" />
    <hr class="twohrprojects" />
  </div>
  <div class="projectssolution scrollanim">
    <p class="singletitle">Solutions</p>
    <p class="singletext">
      I used a basic <span class="markblue">API</span> based on a browser path
      that displays files in a <span class="markgray">JSON format</span> and
      then stores them into the user's file. To create this user, I used a
      <span class="markblue">.env file</span> and then checked if the user's
      folder existed. When the user connects on the drive, they only see their
      files on their subdivision with no admin access to guarantee privacy and
      trust that no one can see their files.<span class="linebreak"></span>
      <span class="markblue">Linux Ubuntu Server </span>is a really well
      documented plateform so I had no trouble finding online what I needed to
      edit, delete and upload files.<span class="linebreak"></span> About
      <span class="markblue">security</span>, as the project is still ongoing, I
      did not do a security checkup, but I always try to separate sensitive
      datas, as the website only request files when a user is connected and
      verified in the <span class="markblue">.env file</span>. There is no
      possibility to create a user without having access to the .env file.
    </p>
  </div>
  <div class="hrcontainerprojects scrollanim">
    <hr class="onehrprojects" />
    <hr class="twohrprojects" />
  </div>
  <div class="projectfuture scrollanim">
    <p class="singletitle">Future</p>
    <p class="singletext">
      This project is still ongoing, because it's local and it's based in
      France, I cannot work on it right now.<span class="linebreak"></span>
      I want to make it have the exact same features than Google One, and maybe
      integrate an
      <span class="markblue">LLM model</span> to make it more responsive. This
      would be a great feature to have and it would let its users have their own
      AI without having to pay for Gemini.
    </p>
  </div>
  <div class="hrcontainerprojects scrollanim">
    <hr class="onehrprojects" />
    <hr class="twohrprojects" />
  </div>
  <div class="projecttechs">
    <p class="singletitle">Technologies</p>
    <div class="techcontainer">
      <div class="langcontainer">
        <img src="img/langicon/nodejs-icon-svgrepo-com.svg" />
        <p>Node.JS</p>
      </div>
      <div class="langcontainer">
        <img src="img/langicon/js.png" />
        <p>JavaScript</p>
      </div>
      <div class="langcontainer">
        <img src="img/langicon/html-5.png" />
        <p>HTML</p>
      </div>
      <div class="langcontainer">
        <img src="img/langicon/css-3.png" />
        <p>CSS</p>
      </div>
      <div class="langcontainer">
        <img src="img/icon/Ubuntu.svg" />
        <p>Linux Ubuntu Server</p>
      </div>
    </div>
  </div>
  <div class="hrcontainerprojects">
    <hr class="onehrprojects" />
    <hr class="twohrprojects" />
  </div>
</div>
