<div class="epistudiosprojects">
  <div class="introproject">
    <p class="projecttype scrollanim">Case Study</p>
    <p class="projectname scrollanim">EPI STUDIO</p>
    <p class="projectdesc scrollanim">
      A French non-profit development studio, from which I am the Elected
      President. I participate to it as a web developer.
    </p>
  </div>
  <div class="projectsborders scrollanim">
    <div class="case">
      <p class="casetitle">Industry</p>
      <p class="caseanswer">Development Studio</p>
    </div>
    <div class="case">
      <p class="casetitle">Year</p>
      <p class="caseanswer">September 2025</p>
    </div>
    <div class="case">
      <p class="casetitle">Service</p>
      <p class="caseanswer">Studio</p>
    </div>
  </div>
  <div class="banner-gradient scrollanim">
    <img src="img/projects/Banniereepistudio.jpg" />
  </div>
  <div class="hrcontainerprojects scrollanim">
    <hr class="onehrprojects" />
    <hr class="twohrprojects" />
  </div>
  <div class="projectsabout scrollanim">
    <p class="singletitle">About</p>
    <p class="singletext">
      I was thinking about this project since 2023, as I always wanted to have a
      <span class="markblue">development studio</span>, especially a video-game
      studio.<span class="linebreak"></span>
      In 2025, I founded Epi studio to create
      <span class="markblue">Open-Source</span> programs.
    </p>
  </div>
  <div class="hrcontainerprojects scrollanim">
    <hr class="onehrprojects" />
    <hr class="twohrprojects" />
  </div>
  <div class="projectschallenge scrollanim">
    <p class="singletitle">Challenges</p>
    <p class="singletext">
      The first challenge I faced was the
      <span class="markblue">recruitments</span>: I had to convince people to
      join a group and to work for free, knowing their work is not theirs.<span
        class="linebreak"
      ></span>
      I then had to find
      <span class="markblue">ideas</span> about what to develop and create,
      while still maintaining the
      <span class="markblue">Open-Source</span> first policy.<span
        class="linebreak"
      ></span>
      I then had to figure out everything
      <span class="markblue">finance</span>
      related: taxes, contract, partnerships, bank accounts, etc.
    </p>
  </div>
  <div class="hrcontainerprojects scrollanim">
    <hr class="onehrprojects" />
    <hr class="twohrprojects" />
  </div>
  <div class="projectssolution scrollanim">
    <p class="singletitle">Solutions</p>
    <p class="singletext">
      For the <span class="markblue">recruitments</span>, I chose the most
      <span class="markblue">motivated people</span>, this was my criteria.
      Agains't all thoughts, I had a lot of candidates who were ready to create
      and to be involved ! I asked each candidate about their
      <span class="markblue">relationship to Open-Source</span>, their
      experience and their motivations.<span class="linebreak"></span>
      When someone create something in the studio, their creation is
      automatically the studio's one, but they still have all the rights as long
      as they don't make others pay, which builds
      <span class="markblue">trust</span> with our studio.<span
        class="linebreak"
      ></span>
      Every time I submit an Idea to the group, I think about three things:
      <span class="markblue">Will it be usefull for someone</span>,
      <span class="markblue">will this interest my team</span> and be fun to
      build, and finally
      <span class="markblue">can this project be Open-Source</span> ?
      <span class="linebreak"></span>If it fits, its submitted to
      <span class="markblue">vote</span>, if it doesn't fit, it goes to trash!
    </p>
  </div>
  <div class="hrcontainerprojects scrollanim">
    <hr class="onehrprojects" />
    <hr class="twohrprojects" />
  </div>
  <div class="projectfuture scrollanim">
    <p class="singletitle">Future</p>
    <p class="singletext">
      EPI Studio has a <span class="markblue">bright future</span>! I have no
      plan on making money out of it: its only reason to be is to
      <span class="markblue">build</span>,
      <span class="markblue">create</span> and
      <span class="markblue">share</span>, for free.<span
        class="linebreak"
      ></span>
      In the future, I want us to start
      <span class="markblue">building games</span>, like a big studio!
    </p>
  </div>
  <div class="hrcontainerprojects scrollanim">
    <hr class="onehrprojects" />
    <hr class="twohrprojects" />
  </div>
  <div class="projecttechs scrollanim">
    <p class="singletitle">Technologies</p>
    <div class="techcontainer">
      <div class="langcontainer">
        <img src="img/langicon/js.png" />
        <p>JavaScript</p>
      </div>
      <div class="langcontainer">
        <img src="img/langicon/html-5.png" />
        <p>HTML</p>
      </div>
      <div class="langcontainer">
        <img src="img/langicon/css-3.png" />
        <p>CSS</p>
      </div>
      <div class="langcontainer">
        <img src="img/langicon/GitHub_Invertocat_White.svg" />
        <p>Github</p>
      </div>
      <div class="langcontainer">
        <img src="img/icon/Git-Icon-1788C.svg" />
        <p>Git</p>
      </div>
    </div>
  </div>
  <div class="hrcontainerprojects">
    <hr class="onehrprojects" />
    <hr class="twohrprojects" />
  </div>
  <p class="singletitle">More Projects</p>
  <div class="projectsmoreapps">
    <div class="moreprojcontone scrollanim">
      <p class="moreprojdate">December 2025</p>
      <div>
        <p class="moreprojtitle markblue">FlyingToDo</p>
        <a class="moreprojbutton" href="#">Learn more ></a>
      </div>
    </div>
    <div class="moreprojcontone scrollanim">
      <p class="moreprojdate">November 2024</p>
      <div>
        <p class="moreprojtitle markblue">Project Shadow</p>
        <a class="moreprojbutton" href="#">Learn more ></a>
      </div>
    </div>
  </div>
</div>
