<!-- <div class="ProjectName">  -->
  <div class="introproject">
    <p class="projecttype scrollanim">Case Study</p>
    <p class="projectname scrollanim">ProjectName</p>
    <p class="projectdesc scrollanim">
      Project description
    </p>
  </div>
  <div class="projectsborders scrollanim">
    <div class="case">
      <p class="casetitle">Industry</p>
      <p class="caseanswer">...</p>
    </div>
    <div class="case">
      <p class="casetitle">Year</p>
      <p class="caseanswer">2025</p>
    </div>
    <div class="case">
      <p class="casetitle">Service</p>
      <p class="caseanswer">...</p>
    </div>
  </div>
  <div class="banner-gradient scrollanim">
    <img src="img/projects/flyingtodo.png" />
  </div>
  <div class="hrcontainerprojects">
    <hr class="onehrprojects" />
    <hr class="twohrprojects" />
  </div>
  <div class="projectsabout">
    <p class="singletitle">About</p>
    <p class="singletext">
    </p>
  </div>
  <div class="hrcontainerprojects">
    <hr class="onehrprojects" />
    <hr class="twohrprojects" />
  </div>
  <div class="projectschallenge">
    <p class="singletitle">Challenges</p>
    <p class="singletext">
    </p>
  </div>
  <div class="hrcontainerprojects">
    <hr class="onehrprojects" />
    <hr class="twohrprojects" />
  </div>
  <div class="projectssolution">
    <p class="singletitle">Solutions</p>
    <p class="singletext">
    </p>
  </div>
  <div class="hrcontainerprojects">
    <hr class="onehrprojects" />
    <hr class="twohrprojects" />
  </div>
  <div class="projectfuture">
    <p class="singletitle">Future</p>
    <p class="singletext">
    </p>
  </div>
  <div class="hrcontainerprojects">
    <hr class="onehrprojects" />
    <hr class="twohrprojects" />
  </div>
  <div class="projecttechs">
    <p class="singletitle">Technologies</p>
    <div class="techcontainer">
      <div class="langcontainer">
        <img src="img/langicon/electron-icon.svg" />
        <p>Electron</p>
      </div>
      <div class="langcontainer">
        <img src="img/langicon/js.png" />
        <p>JavaScript</p>
      </div>
      <div class="langcontainer">
        <img src="img/langicon/html-5.png" />
        <p>HTML</p>
      </div>
      <div class="langcontainer">
        <img src="img/langicon/css-3.png" />
        <p>CSS</p>
      </div>
      <div class="langcontainer">
        <img src="img/langicon/GitHub_Invertocat_White.svg" />
        <p>Github Release</p>
      </div>
      <div class="langcontainer">
        <img src="img/icon/Git-Icon-1788C.svg" />
        <p>Git</p>
      </div>
    </div>
  </div>
  <div class="hrcontainerprojects">
    <hr class="onehrprojects" />
    <hr class="twohrprojects" />
  </div>
  <p class="singletitle">More Projects</p>
  <div class="projectsmoreapps">
    <div class="moreprojcontone">
      <p class="moreprojdate">September 2025</p>
      <div>
        <p class="moreprojtitle markblue">Epi Studio</p>
        <a class="moreprojbutton" href="#">Learn more ></a>
      </div>
    </div>
    <div class="moreprojcontone">
      <p class="moreprojdate">November 2024</p>
      <div>
        <p class="moreprojtitle markblue">Project Shadow</p>
        <a class="moreprojbutton" href="#">Learn more ></a>
      </div>
    </div>
  </div>
</div>
