<div class="readme">
  <p class="respwarning">
    This site was made for PC. Please check it up on pc to see my projects, or
    visit my github page ! You can discover more about myself on this page !
  </p>
  <div class="titlecontainer">
    <p class="markblue"># Gaël Tournier</p>
    <picture>
      <source
        srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f44b/512.webp"
        type="image/webp"
      />
      <img
        src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f44b/512.gif"
        alt="👋"
        width="32"
        height="32"
      />
    </picture>
  </div>
  <div class="jobcontainer">
    <p class="markorange">> In search of an Internship /</p>
    <div class="moovingtext"></div>
  </div>
  <p class="markgreen">
    - 20 Years old Web developer, I mainly work in Epi Studio, the non-profit
    development studio that I created!
    <br />
    - My specialities are HTML/CSS and JS. You can find all the details of my
    skills on my CV.
  </p>
  <div class="buttonscontainer">
    <a href="https://github.com/FlyingCow31"
      ><img
        src="img/langicon/GitHub_Invertocat_White.svg"
        class="clickgit"
        href="https://github.com/FlyingCow31"
    /></a>
    <a href="https://www.linkedin.com/in/gael-tournier32">
      <img src="img/icon/linkedin-svgrepo-com.svg" />
    </a>

    <a class="contactmereadme floatanim"> Contact Me → </a>
  </div>

  <img src="img/icon/down-arrow.png" class="down-arrow scrollanim" />

  <div class="hrcontainer scrollanim">
    <hr class="onehr" />
    <hr class="twohr" />
  </div>

  <img src="img/icon/user.png" class="iconuser scrollanim" /><span
    class="aboutmeoui"
    >About Me</span
  >

  <p class="descaboutme scrollanim">
    I'm a <span class="markgreen">Web developer</span> , specialized on
    <span class="markgreen">Web Applications</span> and
    <span class="markgreen">Websites</span>
  </p>

  <div class="aboutmereadme">
    <div class="textaboutme">
      <p class="bold scrollanim">Gaël Tournier</p>
      <p class="markblue scrollanim">Web developer</p>

      <p class="moretextaboutme scrollanim">
        I seek growth and learning new tools and languages in all my works.
      </p>
      <p class="moretextaboutme scrollanim">
        I'm mainly driven by the feeling of creation, as I love creating
        projects and seeing them becoming something
      </p>
    </div>
    <img class="profilepicture scrollanim" src="img/Moideux.jpg" />

    <div class="moreinfos scrollanim">
      <p class="titlemoreinfos">Languages</p>
      <hr />
      <p>
        <span class="bold">English</span> -
        <span class="opacity">Fluent</span>
      </p>
      <p>
        <span class="bold">French</span> -
        <span class="opacity">Native</span>
      </p>
      <hr />
      <p class="titlemoreinfos">Contact</p>
      <hr />
      <p>Email - <span class="opacity">gael.tournier32@gmail.com</span></p>
      <p>Discord - <span class="opacity">gael.tournier</span></p>
      <hr />
    </div>
    <div class="epistudioaboutme scrollanim">
      <img src="img/logodiscord.jpg" />
      <div>
        <p>EPI STUDIO - French Non-Profit dev. studio</p>
        <p class="markblue">Elected president</p>
      </div>
    </div>
  </div>

  <div class="hrcontainer scrollanim">
    <hr class="onehr" />
    <hr class="twohr" />
  </div>

  <p class="worktitle2 scrollanim"># Work Experience</p>

  <p class="introwork scrollanim">
    <span class="markorange">Learner Developer</span> since 2024. Interested in
    JS, Node.JS, Java and C#. Has worked on 4
    <span class="markorange">professional websites</span>.
  </p>

  <div class="workexpcontainer scrollanim">
    <p class="titlework">Professional Web-Design</p>
    <p class="itemwork">
      - Creation of guidelines with the client, including style, colors, etc.
    </p>
    <p class="itemwork">- Use of Figma to show the client a first draft</p>
    <p class="itemwork">- Use of Snipcart to create only shops</p>
    <hr />
    <p class="titlework">Elected President of Epi Studio</p>
    <p class="itemwork">
      - Administration of a French non-profit (finances, recruitments, etc.)
    </p>
    <p class="itemwork">
      - Web development for clients and participation to Open-Source projects
    </p>
    <p class="itemwork">- Use of Git and Github to collaborate</p>
  </div>

  <div class="hrcontainer scrollanim">
    <hr class="onehr" />
    <hr class="twohr" />
  </div>

  <div class="skillsreadme scrollanim">
    <div class="titleskills">
      <img src="img/icon/book.png" class="bookskills" />
      <p>Skills</p>
    </div>

    <div class="listcontainer scrollanim">
      <p class="skillname langbtn">Languages</p>
      <p class="skillname toolbtn">Tools</p>
      <p class="skillname softskillsbtn">Soft Skills</p>
    </div>
    <div class="ulcontainer">
      <div class="ullanguages scrollanim">
        <div class="licontainer">
          <img src="img/langicon/js.png" />
          <p>Javascript</p>
          <p><span class="markblue">Level</span>: Beginner</p>
        </div>
        <div class="licontainer">
          <img src="img/langicon/html-5.png" />
          <p>HTML</p>
          <p><span class="markblue">Level</span>: Intermediate</p>
        </div>
        <div class="licontainer">
          <img src="img/langicon/css-3.png" />
          <p>CSS</p>
          <p><span class="markblue">Level</span>: Intermediate</p>
        </div>
        <div class="licontainer csharp">
          <img src="img/langicon/c-sharp.png" />
          <p>C#</p>
          <p><span class="markblue">Level</span>: Beginner</p>
        </div>
      </div>
      <div class="ulapps scrollanim">
        <div class="licontainer">
          <img src="img/icon/unity-svgrepo-com.svg" />
          <p>Unity</p>
          <p><span class="markblue">Level</span>: Beginner</p>
        </div>
        <div class="licontainer">
          <img src="img/langicon/electron-icon.svg" />
          <p>Electron</p>
          <p><span class="markblue">Level</span>: Beginner</p>
        </div>
        <div class="licontainer">
          <img src="img/icon/Git-Icon-1788C.svg" />
          <p>Git</p>
          <p><span class="markblue">Level</span>: Beginner</p>
        </div>
        <div class="licontainer">
          <img src="img/langicon/GitHub_Invertocat_White.svg" />
          <p>Github</p>
          <p><span class="markblue">Level</span>: Intermediate</p>
        </div>
        <div class="licontainer">
          <img src="img/icon/vscode.png" />
          <p>VScode</p>
          <p><span class="markblue">Level</span>: Intermediate</p>
        </div>
        <div class="licontainer">
          <img src="img/icon/figma.png" />
          <p>Figma</p>
          <p><span class="markblue">Level</span>: Intermediate</p>
        </div>
        <div class="licontainer">
          <img src="img/icon/canva-icon.svg" />
          <p>Canva</p>
          <p><span class="markblue">Level</span>: Beginner</p>
        </div>
      </div>
      <div class="ulsoftskills scrollanim">
        <div class="licontainer">
          <img />
          <p>Leadership</p>
        </div>
        <div class="licontainer">
          <img />
          <p>Team work</p>
        </div>
        <div class="licontainer">
          <img />
          <p>Problem Solving</p>
        </div>
        <div class="licontainer">
          <img />
          <p>Leadership</p>
        </div>
      </div>
    </div>
  </div>

  <div class="hrcontainer scrollanim">
    <hr class="onehr" />
    <hr class="twohr" />
  </div>
  <div class="myworks scrollanim">
    <p># Please find some of my works in the file tree on your left!</p>
  </div>

  <div class="hrcontainer scrollanim">
    <hr class="onehr" />
    <hr class="twohr" />
  </div>

  <div class="contactmesection" id="contactsection">
    <p class="scrollanim">
      # Get in <span class="markgreen">touch</span> with me, and
      <span class="markgreen">let's work together</span>!
    </p>

    <div class="formcontainer">
      <input type="text" class="formname scrollanim" placeholder="Name" />
      <input type="email" class="formemail scrollanim" placeholder="Email" />
      <input
        type="text"
        class="formbusiness scrollanim"
        placeholder="Company"
      />
      <input type="text" class="formtext scrollanim" placeholder="Message" />
    </div>

    <button class="sendcontact scrollanim">Send</button>
  </div>
</div>
